{% extends 'base.html' %}
{% block content %}
     {{ profile.bio }}
    {{ profile.location }}<br>
    Posts:

    {% for post in posts %}
    <p>{{ post.title }}, <a href="/trade/{{ post.id }}">Details</a> </p>
    {% endfor %}
    <br>Guides:
    {% for guide in guides %}
        <p>{{ guide.title }},<a href="/guide/{{ guide.id }}">Details</a> </p>
    {% endfor %}

    {% if form != Null %}
    <form>
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit">
    </form>
    {% else %}

    {% endif %}
{% endblock %}